  /* colors variables */

:root {
    --azure: rgb(27, 114, 232);
    --dark-text: rgb(91, 88, 88);
    --dark-blue: rgb(9, 33, 55);
    --stripes-header: rgb(232, 232, 232);
    --main-content-bg: rgb(248, 249, 250);
    --light-grey: rgb(229, 229, 229);
    --pale-grey: rgb(247, 247, 247);
    --orange: rgb(242, 101, 81);
    --light-red: rgb(220, 53, 69);
    --green: rgb(25, 135, 84);
    --yellow: rgb(255, 193, 7);
    --white: rgb(255, 255, 255);
    --pill: rgb(22, 91, 186);
}

/* UTILITIES */

/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(27, 114, 232);
}

/* debug */

.debug {
    border: 1px dashed red;
}

.debug-2 {
    border: 1px solid turquoise;
}

/* GENERAL */

/* images' width */

img {
    width: 100%;
}

.basic-font-size {
    font-size: 0.9rem !important;
}

.dark-text {
    color: var(--dark-text);
}

.not-on-mobile,
.not-on-phone {
    display: none;
}

.only-on-phone {
    display: block;
}

/* a wrapper includes the whole web app */

.wrapper {
    width: 100%;
    height: 100vh;
}

/* HEADER */

header {
    width: 100%;
    height: 70px;
    background-color: var(--main-content-bg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.stripe-header {
    width: 100%;
    height: 0.5rem;
    background-color: var(--stripes-header);
}

header .container {
    height: calc(70px - 1rem);
}

#logo,
header .container div:last-child {
    width: 16%;
}

header .container form {
    width: 42%;
}

#logo {
    height: calc(70px - 1rem);
    width: calc(70px - 1rem);
    line-height: calc(70px - 1rem);
    position: relative;
}

#logo img:last-child {
    width: 240%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header a i {
    color: var(--dark-text);
}

header a:last-child i {
    color: var(--orange);
}

.bg-light-grey {
    background-color: var(--light-grey) !important;
}

/* ASIDE */

aside {
    width: 70px;
    height: 100vh;
    background-color: var(--dark-blue);
    background-image: url(../images/sidebar-bg.png);
    position: fixed;
    top: 0;
    left: 0;
}

.aside-links {
    margin-top: 90px;
}

aside i {
    color: var(--white);
}

aside a {
    text-decoration: none;
    cursor: pointer;
}

aside a.not-on-mobile {
    padding-left: 1rem;
}


/* MAIN */

main {
    width: 100%;
    height: 100%;
    padding-left: 70px;
}

/* MAIN TOP MENU */

#main-top-menu {
    height: 260px;
    width: 100%;
    margin-top: 70px;
    background-color: var(--azure);
}

.open-form {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--white);
    text-decoration: none;
}

.breadcrumb-pill {
    background-color: var(--pill);
    color: var(--white);
    border-radius: 1rem;
    padding: 0.3rem 0.5rem;
    line-height: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-03 {
    margin-right: 0.3rem;
}

/* MAIN CONTENT */

#main-content {
    background-color: var(--main-content-bg);
    width: 100%;
}

.top-section-container {
    background-color: var(--pale-grey);
    border: 1px solid var(--light-grey);
    border-radius: 0.4rem 0.4rem 0 0;
    height: 3.5rem;
}

#class-avatar {
    width: 20%;
}

/* TABLE section */

.main-content-table {
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: 0 0 0.4rem 0.4rem;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

table {
    width: 100%;
}

table a {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border: 1px solid var(--dark-text);
    border-radius: 6px;
    text-align: center;
}

table a i,
table th,
table span,
table tr td {
    color: var(--dark-text);
}

td {
    white-space: nowrap;
}

/* FAQ section */

#main-content-faq {
    width: 100%;
}

.border-bottom-grey {
    border-bottom: 1px solid var(--light-grey);
}

.inner-border-bottom-radius {
    border: 1px solid var(--light-grey);
    border-radius: 0 0 0.4rem 0.4rem;
}

/* TO DO LIST section */

#main-content-todolist {
    width: 100%;
}

.todo-bottom-container {
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: 0.4rem;
}

.border-todo {
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
}

/* STATISTICS section */

#main-content-statistics {
    width: 100%;
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: 0.4rem;
}

.inner-border {
    border: 1px solid var(--light-grey);
    border-radius: 0.4rem;
}

/* RESPONSIVE DESIGN */

/* TABLET */

@media screen and (min-width: 768px) {

    #main-top-menu {
        height: 140px;
        display: flex;
    }

    #main-top-menu > div:nth-child(1) {
        order: 3;
        margin-right: 3rem;
    }

    #main-top-menu > div:nth-child(2) {
        order: 1;
    }

    #main-top-menu > div:nth-child(3) {
        order: 2;
    }

    .not-on-phone {
        display: block;
    }

    table th.not-on-phone,
    table td.not-on-phone {
        display: table-cell;
    }

    #logo img:first-child {
        display: none;
    }

}

/* DESKTOP */

@media screen and (min-width: 1200px) {

    #main-content {
        display: flex;
        justify-content: space-between;
        
    }

    .not-on-mobile {
        display: inline-block;
    }
    
    aside {
        width: 150px;
    }

    main {
        padding-left: 150px;
    }

    #main-top-menu {
        height: 125px;
    }

    .pill-plus {
        display: none;
    }
}
